qtpy
pyside6
transformers
diffusers
einops
omegaconf
accelerate
open-clip-torch
transformers
safetensors
pytorch_lightning
aiohttp
accelerate
--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision

