pyside6
qtpy
transformers
diffusers
einops
omegaconf
accelerate
open-clip-torch
transformers
safetensors
pytorch_lightning
aiohttp
accelerate
--extra-index-url https://download.pytorch.org/whl/cu117
torch
torchvision
xformers
scipy
torchdiffeq
torchsde
opencv-contrib-python


# Semseg Requirements:
tqdm
tabulate
numpy
scipy
matplotlib
tensorboard
fvcore
einops
rich

basicsr

#triton==2.0.0